* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.register {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 167, 167);
  .register-form {
    label {
      display: block;
      padding: 2px 0 2px 0;
    }
    .fe {
      width: 100%;
      display: block;
      margin-bottom: 5px;
      input {
        //   border-radius: 0.3rem;
        //   border: thin;
        padding: 10px;
      }
      .submit {
        width: 100%;
        padding: 10px;
        border: none;
        color: #ffffff;
        background-color: rgb(72, 197, 13);
      }
    }
  }
}
.success-container {
  .image-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 50%;
    }
    a {
      text-decoration: none;
      padding: 12px 20px;
      color: #ffffff;
      font-weight: bold;
      background-color: rgb(21, 168, 8);
    }
  }
}
